@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
body {
  margin: 0;
  padding: 3rem;
  padding-top: 4rem;
  box-sizing: border-box;
  font-family: "Libre Franklin";
  font-size: 20px;
}

header {
  text-align: center;
  padding-top: 1rem;
}

div {
  text-align: center;
}

#main-text {
  font-size: xx-large;
  color: hsl(0, 0%, 59%);
}

#main-text > strong {
  color: hsl(209, 33%, 12%);
}

#sub-text {
  font-size: large;
}

#notify-form {
  display: flex;
  flex-direction: row;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
  margin: auto;
}

#email-input {
  border: solid 1px hsl(223, 100%, 88%);
  border-radius: 50px;
  height: 40px;
  padding-left: 8px;
  width: 35vw;
  margin: 4px;
  color: hsl(209, 33%, 12%);
  font-size: small;
}

#submit-button {
  color: white;
  border: none;
  border-radius: 50px;
  height: 42px;
  background-color: hsl(233, 87%, 63%);
  width: 15vw;
  min-width: -moz-max-content;
  min-width: max-content;
  box-shadow: 3px 3px 6px hsl(223, 100%, 88%);
  margin: 4px;
}

#error-message {
  display: block;
  padding: 0;
  margin: 0;
  font-size: small;
  width: auto;
}

#submit-button:hover {
  cursor: pointer;
  background-color: hsl(233, 87%, 63%);
}

#copy-text {
  color: hsl(0, 0%, 59%);
}

#img-div {
  padding: auto;
  width: auto;
}

#illustration {
  width: 50%;
  margin: 30px auto;
}

#copy-text {
  font-size: small;
}

#socials {
  margin-top: 100px;
  margin-bottom: 50px;
}

.fa {
  color: hsl(233, 87%, 63%);
  padding: 7px;
  margin: auto 5px;
  border-radius: 50%;
  border: 1px solid hsl(223, 100%, 88%);
  font-size: 17px;
}

.fa:hover {
  color: white;
  background-color: hsl(233, 87%, 63%);
}

.fa-facebook {
  width: 18px;
}

.fa-instagram {
  width: 17px;
}

@media (max-width: 768px) {
  #email-input {
    border: solid 1px hsl(223, 100%, 88%);
    border-radius: 50px;
    height: 40px;
    padding-left: 8px;
    width: 40vw;
    margin: 4px;
    color: hsl(209, 33%, 12%);
    font-size: small;
  }
  #submit-button {
    color: white;
    border: none;
    border-radius: 50px;
    height: 42px;
    background-color: hsl(233, 87%, 63%);
    width: 20vw;
    min-width: -moz-max-content;
    min-width: max-content;
    box-shadow: 3px 3px 6px hsl(223, 100%, 88%);
    margin: 4px;
  }
  #illustration {
    width: 90%;
    margin: 30px auto;
  }
}
@media (max-width: 485px) {
  body {
    margin: 0;
    padding: 50px 0;
    box-sizing: border-box;
  }
  #main-text {
    font-size: large;
  }
  #notify-form {
    display: flex;
    flex-direction: column;
  }
  #email-input {
    border: solid 1px hsl(223, 100%, 88%);
    border-radius: 50px;
    height: 40px;
    padding-left: 25x;
    width: 67vw;
    margin: auto;
    color: hsl(209, 33%, 12%);
    font-size: small;
  }
  #submit-button {
    color: white;
    border: none;
    border-radius: 50px;
    height: 43px;
    background-color: hsl(233, 87%, 63%);
    width: 70vw;
    box-shadow: 3px 3px 6px hsl(223, 100%, 88%);
    margin: 8px auto;
    font-size: small;
  }
  #main-text {
    font-size: x-large;
  }
  #sub-text {
    font-size: small;
  }
  #illustration {
    width: 80%;
    margin: 30px auto;
  }
  #socials {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #copy-text {
    font-size: x-small;
  }
}/*# sourceMappingURL=index.css.map */