@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
$mobile: 375px;
$desktop: 1440px;
$blue: hsl(233, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$grey: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);
$fontSize: 20px;
$fontFamily: "Libre Franklin";
$fontWeighht: 300, 600, 700;

body {
    margin: 0;
    padding: 3rem;
    box-sizing: border-box;
    font-family: $fontFamily;
    font-size: $fontSize;
}
header {
    text-align: center;
    padding-top: 1rem;
}
div {
    text-align: center;
}
#main-text {
    font-size: xx-large;
    color: $grey;
}
#main-text > strong {
    color: $very-dark-blue;
}
#sub-text {
    font-size: large;
}
#notify-form {
    display: flex;
    flex-direction: row;
    width: min-content;
    text-align: center;
    margin: auto;
}
#email-input {
    border: solid 1px $pale-blue;
    border-radius: 50px;
    height: 40px;
    padding-left: 8px;
    width: 30vw;
    margin: 4px;
    color: $very-dark-blue;
    font-size: small;
}
#submit-button {
    color: white;
    border: none;
    border-radius: 50px;
    height: 42px;
    background-color: $blue;
    width: 10vw;
    min-width: max-content;
    box-shadow: 3px 3px 6px $pale-blue;
    margin: 4px;
}
#error-message {
    display: block;
    padding: 0;
    margin: 0;
    font-size: small;
    width: auto;
}
#submit-button:hover {
    cursor: pointer;
    background-color: $pale-blue;
}

#copy-text {
    color: $grey;
}
#img-div {
    padding: auto;
    width: auto;
}
#illustration {
    width: 50%;
    margin: 30px auto;
}
#socials {
    margin-top: 100px;
    margin-bottom: 50px;
}
.fa {
    color: $blue;
    padding: 7px;
    margin: auto 5px;
    border-radius: 50%;
    border: 1px solid $pale-blue;
    font-size: clamp(15px, 17px, 20px);
}
.fa-facebook {
    width: 18px;
}
.fa-instagram {
    width: 17px;
}

@media (max-width: 375px) {
    body {
        margin: 0;
        padding: 50px 0;
        box-sizing: border-box;
    }
    #main-text {
        font-size: large;
    }
    #notify-form {
        display: flex;
        flex-direction: column;
    }
    #email-input {
        border: solid 1px $pale-blue;
        border-radius: 50px;
        height: 33px;
        padding-left: 25x;
        width: 67vw;
        margin: auto;
        color: $very-dark-blue;
        font-size: small;
    }
    #submit-button {
        color: white;
        border: none;
        border-radius: 50px;
        height: 35px;
        background-color: $blue;
        width: 70vw;
        box-shadow: 3px 3px 6px $pale-blue;
        margin: 8px auto;
        font-size: small;
    }
    #main-text {
        font-size: x-large;
    }
    #sub-text {
        font-size: small;
    }
    #illustration {
        width: 80%;
        margin: 30px auto;
    }
    #copy-text {
        font-size: x-small;
    }
}